<%- contentFor('title') %>Home
<%- contentFor('body') %>
<h1 class="mt-3"><img src="/images/devmission.png" style="width: 200px; height: auto;"> Hello world!</h1>
<p>My name is Francis</p>
<p>This is only on the homepage</p>
